{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="canonical" href="{{request.build_absolute_uri}}">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Droid+Serif" rel="stylesheet"> 
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"> 
	<link href="{% static "css/foundation.min.css" %}" rel="stylesheet">
	<link href="{% static "css/app.css" %}" rel="stylesheet">
</head>
<body>
	{% block content %}
	{% endblock %}
	<script src="{% static "js/vendor/jquery.js" %}" defer></script>
	<script src="{% static "js/vendor/what-input.js" %}" defer></script>
	<script src="{% static "js/vendor/foundation.min.js" %}" defer></script>
	<script src="{% static "js/vendor/handlebars.js" %}" defer></script>
	<script src="{% static "js/vendor/enquire.min.js" %}" defer></script>
	<script src="{% static "js/app.js" %}" defer></script>
</body>
</html>