.navigation {
	background: #f27935;
	border-bottom: 4px solid #666;
}
.navigation .logo {
	height: 50px;
	text-align: center;
}
.navbar-nav {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0;
    line-height: 1.819;
}
.navbar-nav > li {
	padding: 14px 9px 0 0;
    transition: all 0.25s ease 0s;
    position: relative;
}
.navbar-nav > li a {
	color: #fcd4a5;
	padding: 0;
	line-height: inherit;
	position: relative;
    transition: all 0.25s ease 0s
}
.navbar-nav > li a:hover {
	color: #fff;
}
.navbar-nav > li.current > a {
	color: #fff;
}
.navbar-nav > li.current > a::after {
	content: "";
    height: 4px;
    left: 0;
    position: absolute;
    top: 36px;
    width: 100%;
    background-color: #fff;
}
.navbar-col {
	padding: 0;
}
.navbar-right {
	text-align: right;
}
.navbar-right > li {
	display: inline-block;
	padding: 0;
}
.navigation .filter-btn .fa, 
.navigation .user-btn .fa, 
.navigation .menu-btn .fa {
	color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 15px
}
.navigation .filter-btn .fa {
	background: #fac9ae;
}

/* Cuerpo */
#content .banner {
	padding: 0;
}
#content .main-banner {
	height: 350px;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/test_img.jpg) top left no-repeat;
	background-size: cover !important;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 2rem 0 3rem;
	color: #fff;
}
#content .posts {
	height: auto;
	padding-top: 3.5rem;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	#content .main-banner {
		height: 450px;
		background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/test_img.jpg) center left no-repeat;
		background-size: cover;
	}
}
@media screen and (min-width: 64em) {
	#content .main-banner {
		height: calc(100vh - 54px);
	}
	#content .posts {
		height: calc(100vh - 54px);
		overflow-y: auto;
		padding-top: 3.5rem;
	}
}
#content .main-banner h3 {
	line-height: 1.9rem;
	font-size: 1.9rem;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
#content .main-banner p {
	font-size: 0.875rem
	font-family: 'Lato', sans-serif;
}
ul.nav-posts {
	margin-bottom: 2rem;
	padding: 0 0.5rem;
}
ul.nav-posts li {
	padding: 0 0.5rem 0 0;
	display: inline-block;
	width: auto;
}
ul.nav-posts li.current a {
	border-bottom: #333 solid 2px;
}
ul.nav-posts a {
	color: #333;
	padding: 0.7rem 0;
	border-bottom: #bfbfbf solid 2px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 2px;
    transition: all 0.25s ease 0s
}
ul.nav-posts a:hover {
	border-bottom: #555 solid 2px;
}
@media screen and (min-width: 64em) {
	ul.nav-posts {
		margin-bottom: 1rem;
	}
	ul.nav-posts li {
		padding: 0 0.5rem;
		display: table-cell;
	}
	ul.nav-posts a {
		font-size: 0.8rem;
	}
	.posts-list {
		padding-right: 0;
		padding-left: 70px;
	}
}
.articulo {
	font-family: 'Lato', sans-serif;
	margin-bottom: 1rem;
	display: block;
	float: left;
	width: 100%;
}
.articulo .title {
	font-weight: 900;
	color: #333;
	font-size: 1.8rem;
	line-height: 1.8rem;
}
.articulo .description {
	color: #555;
}
.articulo .category {
	font-size: 0.85rem;
	color: #999;
}
.articulo .likes {
	color: #999;
	font-size: 1rem;
}
.articulo .row div:first-child {
	padding-left: 0;
}
/* Categorias */
.categories-handle {
	display: none;
}
.categories-handle .row .row.c-list {
	margin: 0 -0.9375rem;
}
.categories-handle .categoria {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 30px;
}
.categories-handle .categoria img {
}
.categories-handle .categoria a h3 {
	color: #fff;
	position: absolute;
	bottom: 5px;
	padding-left: 5px;
	margin: 0;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

/* // Off Menu // */
.button.offmenu {
	background: transparent;
	margin: 0;
	height: 50px;
	line-height: 50px;
	padding: 0 1rem;
	font-size: 1.25rem;
	position: absolute;
	left: 0.8rem;
}
.hack-canvas {
	display: flex;
	height: 100%;
	flex-direction: column;
}
.hack-canvas .close-button {
	position: relative;
	width: 100%;
	text-align: center;
	top: initial;
	right: initial;
	color: #fff;
	height: 50px;
	font-size: 1.2rem;
}
.hack-canvas .vertical.menu {
	height: 100%;
	background: #888;
}
.hack-canvas .vertical.menu a {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 0.875rem;
	padding: 1.25rem;
	letter-spacing: 2px;
	border-bottom: 1px solid #777;
    transition: all 0.25s ease 0s
}
.hack-canvas .vertical.menu a:hover,
.hack-canvas .vertical.menu li.current a {
	background: #fff;
	color: #f27935;
	border-bottom: 1px solid #f27935;
}
.top-canvas {
	background: #f27935;
	border-bottom: 4px solid #fff;
	width: 100%;
}
.logo-canvas {
	padding-left: 0.5rem;
}
.logo-canvas img {
	height: 50px;
}

/* Articulo Single */

.img_principal {
	position: relative;
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid #999;
	margin-bottom: 1.5rem;
	height: 150px;
	background-size: cover !important;
	padding: 1.6rem 0 1rem 1rem;
}
.img_principal .info_empresa {
	align-self: flex-end;
	width: 100%;
	display: block;
	margin-bottom: 0.5rem;
}
.img_principal .info_empresa img {
	height: 50px;
	display: inline-block;
}
.img_principal .info_empresa p {
	color: #fff;
	display: inline-block;
	line-height: 50px;
	vertical-align: middle;
	font-family: 'Lato', sans-serif;
	font-size: 1.4rem;
	margin: 0 0 0 0.5rem; 
	font-weight: 900;
}
.articulo_solo {
	padding: 0 1rem;
}
.img_principal h1 {
	font-family: "Lato",sans-serif;
	font-weight: 900;
	color: #fff;
	font-size: 2.75rem;
}
@media screen and (min-width: 64em) { 
	.img_principal {
		height: 350px;
		max-height: 350px;
		padding-bottom: 3rem;
		padding-left: 10rem;
		padding-top: 3rem;
	}
	.img_principal .info_empresa p {
		margin: 0 0 0 0.5rem; 
		font-size: 1.8rem;
	}
	.articulo_solo {
		padding: 0;
	}
}
.articulo_solo .read_time {
	font-family: 'Lato', sans-serif;
	color: #999;
}
.articulo_solo .cuerpo_articulo p:last-child {
	margin-bottom: 1rem;
}
.articulo_solo .cuerpo_articulo p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #555;
	font-size: 1.125rem;
	line-height: 1.65;
	margin-bottom: 1.9rem;
	letter-spacing: 0.05rem;
}
@media screen and (min-width: 64em) { 
	.articulo .cuerpo_articulo p:last-child {
		margin-bottom: 1.9rem;
	}
}
span.likes {
	width: 100%;
	text-align: right;
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	color: #555;
	padding-right: 1.5rem;
	line-height: 35px;
	vertical-align: middle;
}
span.likes i {
	margin-right: 1rem;
	font-size: 1rem;
	color: #555;
}
.load {
	width: 83.3333%;
	text-align: center;
	display: none;
}
.load .animation {
  animation: colores 2s steps(21) infinite;
  background: url('../img/LogoLoading.png')  0 0 no-repeat; 
  height: 30px;
  width: 39px;
  margin: 0 auto 0.5rem;
  display: inline-block;
}
@keyframes colores {  
  0% {background-position: 0 0; } 
  100% {background-position: -819px 0; } 
}
.load span.texto {
	color: #f27935;
	font-family: "Lato",sans-serif;
	font-size: 13px;
	margin-left: 0.5rem;
	display: inline-block;
	line-height: 30px;
	vertical-align: top;
	text-transform: uppercase;
}
#contenido {
	margin-bottom: 3rem;
}
.chequeado footer .columns {
	padding: 0 15px;
}
.chequeado footer {
	background: #000;
	color: #fff;
	padding: 35px 0 50px;
	font-family: "Lato",sans-serif;
	line-height: 22px;
}
.chequeado footer p {
	font-weight: 300;
	font-size: 0.875rem;
	letter-spacing: 0.05rem;
}
.chequeado footer .footer-brand {
    border-bottom: 1px solid #fef2ec;
    height: 150px;
    padding-bottom: 0;
    margin-bottom: 20px;
}
.chequeado footer .links {
	border-bottom: 1px solid #fef2ec;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
	font-weight: 300;
	font-size: 0.875rem;
	letter-spacing: 0.05rem;
	margin-left: 0;
}
.chequeado footer .links li:first-child {
	margin-bottom: 10px;
}
.chequeado footer .links li {
	list-style: inside none none;
}
.chequeado footer a {
	color: #fef2ec;
}
.chequeado footer a:hover {
	color: #f27935;
}
.pag-chequeado {
	float: right;
	margin-top: 1.5rem;
	text-align: left;
	padding-left: 6px;
	font-family: "Lato",sans-serif;
	font-weight: 400;
	line-height: 35px;
	vertical-align: middle;
	border-radius: 2px;
	background: #f27935;
    border: 2px solid #f27935;
	color: #fff;
	display: block;
	font-size: 11px;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
	width: 100%;
}
.pag-chequeado.next {
	text-align: right;
	padding-right: 6px;
	float: left;
}
.pag-chequeado:hover,
.pag-chequeado:active,
.pag-chequeado:focus {
	color: #f27935;
	background: #fff;
}
.pag-chequeado strong {
	font-weight: 900;
	font-size: 13px;
}

@media screen and (min-width: 64em) { 
	.chequeado footer .footer-brand {
		border-right: 1px solid #fef2ec;
		border-bottom: medium none;
		margin-bottom: 0;
	}
	.chequeado footer .row {
		width: 1170px;
	}
	.chequeado footer .links {
		border-right: 1px solid #fef2ec;
		height: 150px;
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: medium none;
	}
	.pag-chequeado.next {
		padding-left: 1rem;
	}
}

@media screen and (min-width: 40em) and (max-width: 79.9375em) { 
	.pag-chequeado {
		width: 70%;
		padding-right: 1rem;
		font-size: 14px;
	}
}

@media screen and (min-width: 80em) { 
	.pag-chequeado {
		width: 50%;
		padding-right: 1rem;
		font-size: 14px;
	}
}