{% extends "chequeados/base.html" %}
{% load staticfiles %}
{% block title %}Chequeados{% endblock %}
{% block content %}
<div class="off-canvas-wrapper">
	<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
		<div class="off-canvas position-left hack-canvas" id="offCanvas" data-off-canvas>
			<div class="row top-canvas">
				<div class="small-9 columns">
					<div class="logo-canvas">
						<img src="{% static "img/logo-menu-mobile.svg" %}" class="logo" alt="Hackealo">
					</div>
				</div>
				<div class="small-3 columns">
					<button class="close-button" aria-label="Close menu" type="button" data-close>
						<span aria-hidden="true"><i class="fa fa-times"></i></span>
					</button>
				</div>
			</div>

			<ul class="vertical menu">
				<li><a href="javascript:void(0);">Sumate a una empresa</a></li>
				<li><a href="javascript:void(0);">Lo que se viene</a></li>          
				<li class="current"><a href="/chequeados">Chequeados</a></li> 
			</ul>
		</div>
		<div class="off-canvas-content" data-off-canvas-content>
			<div id="content" class="chequeado">
				<header id="header">
					<div class="navigation">
						<div class="row expanded">
							<div class="large-5 columns show-for-large">
								<nav id="navigation" class="">                      
									<ul id="header-nav" class="nav navbar-nav menu">              
										<li><a href="javascript:void(0);">Sumate a una empresa</a></li>
										<li><a href="javascript:void(0);">Lo que se viene</a></li>          
										<li class="current"><a href="/chequeados">Chequeados</a></li>     
									</ul>
								</nav>
							</div>
							<div class="large-2 columns logo">
								<button type="button" class="button hide-for-large offmenu" data-toggle="offCanvas"><i class="fa fa-bars"></i></button>
								<img src="{% static "img/logo.svg" %}" class="logo" alt="Hackealo">
							</div>
							<div class="large-5 columns navbar-col show-for-large">
								<ul class="nav navbar-nav navbar-right menu">
									<li><a href="javascript:void(0);" class="user-btn">¡Tu voto vale! <i class="fa fa-gift"></i></a></li>
									<li><a href="javascript:void(0);" class="user-btn"><i class="fa fa-user"></i></a></li>
									<li><span class="filter-btn sb-toggle-right"><i class="fa fa-filter"></i></span></li>
								</ul>
							</div>
						</div>
					</div>
				</header>
				<section id="contenido">
					<div class="row expanded">
						<div class="img_principal" style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)), url('/media/{{ chequeado.main_img }}') center center;">
							<div class="info_empresa">
								<img src="/media/{{ empresa.avatar_white }}" alt="{{ empresa.title }}">
								<p>{{ empresa.title }}</p>
							</div>
							<h1>{{ chequeado.title }}</h1>
						</div>
					</div>
					<div class="row">
						<div class="large-8 small-centered columns">
							<div class="articulo_solo">
								<p class="read_time">
									<i class="fa fa-bookmark"></i> Lectura de <span class="tiempo_lectura"></span> min
								</p>
								<div class="cuerpo_articulo">
									{{ chequeado.body|safe }}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="large-8 small-centered columns">
							<div class="row">
								<div class="large-12 small-centered columns">
									<span class="likes"><i class="fa fa-heart-o"></i> {{ chequeado.likes }}</span>
								</div>
								<div class="large-6 small-6 columns">
									{% if chequeado.get_previous_by_created %}
										<a href="{% url 'chequeados:articulo_detail' chequeado.get_previous_by_created.slug %}" class="pag-chequeado prev"><strong><<</strong> Anterior chequeado</a>
									{% endif %}
								</div>
								<div class="large-6 small-6 columns">
									{% if chequeado.get_next_by_created %}
										<a href="{% url 'chequeados:articulo_detail' chequeado.get_next_by_created.slug %}" class="pag-chequeado next">Siguiente chequeado <strong>>></strong></a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</section>
				<footer id="footer">
					<div class="row">
						<div class="large-6 columns">
							<div class="footer-brand">
								<a href="/">  
									<img src="{% static "img/logo-footer.svg" %}" class="img-responsive" alt="Hackealo">             
								</a>
								<p class="lead-copyright">El primer sitio de empleos pensado por y para programadores, donde las empresas compiten por contratarte.</p>
							</div>  
						</div>
						<div class="large-3 columns">
							<ul class="links">
								<li><a href="#">Servicios a empresas</a></li>
								<li><a href="#">Quienes somos</a></li>
								<li><a href="#">Politicas de privacidad</a></li>
								<li><a href="#">Terminos y Condiciones</a></li>
							</ul>
						</div>
						<div class="large-3 columns">
							<p class="copyright"><strong>© 2015 Hackealo.co</strong>  Todos los derechos reservados</p>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>
</div>

{% endblock %}