{% extends "chequeados/base.html" %}
{% load staticfiles %}
{% block title %}Chequeados{% endblock %}
{% block content %}
<script type="text/javascript">
	{% if articulos_schema.count > articulos.count %}
	var page = 2; //Pagina de la API cuando se usa una variable específica.
	{% endif %}
</script>
<div class="off-canvas-wrapper">
	<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
		<div class="off-canvas position-left hack-canvas" id="offCanvas" data-off-canvas>
			<div class="row top-canvas">
				<div class="small-9 columns">
					<div class="logo-canvas">
						<img src="{% static "img/logo-menu-mobile.svg" %}" class="logo" alt="Hackealo">
					</div>
				</div>
				<div class="small-3 columns">
					<button class="close-button" aria-label="Close menu" type="button" data-close>
						<span aria-hidden="true"><i class="fa fa-times"></i></span>
					</button>
				</div>
			</div>

			<ul class="vertical menu">
				<li><a href="javascript:void(0);">Sumate a una empresa</a></li>
				<li><a href="javascript:void(0);">Lo que se viene</a></li>          
				<li class="current"><a href="/chequeados">Chequeados</a></li> 
			</ul>
		</div>
		<div class="off-canvas-content" data-off-canvas-content>
			<div id="content">
				<header id="header">
					<div class="navigation">
						<div class="row expanded">
							<div class="large-5 columns show-for-large">
								<nav id="navigation" class="">                      
									<ul id="header-nav" class="nav navbar-nav menu">              
										<li><a href="javascript:void(0);">Sumate a una empresa</a></li>
										<li><a href="javascript:void(0);">Lo que se viene</a></li>          
										<li class="current"><a href="/chequeados">Chequeados</a></li>     
									</ul>
								</nav>
							</div>
							<div class="large-2 columns logo">
								<button type="button" class="button hide-for-large offmenu" data-toggle="offCanvas"><i class="fa fa-bars"></i></button>
								<img src="{% static "img/logo.svg" %}" class="logo" alt="Hackealo">
							</div>
							<div class="large-5 columns navbar-col show-for-large">
								<ul class="nav navbar-nav navbar-right menu">
									<li><a href="javascript:void(0);" class="user-btn">¡Tu voto vale! <i class="fa fa-gift"></i></a></li>
									<li><a href="javascript:void(0);" class="user-btn"><i class="fa fa-user"></i></a></li>
									<li><span class="filter-btn sb-toggle-right"><i class="fa fa-filter"></i></span></li>
								</ul>
							</div>
						</div>
					</div>
				</header>
				<section id="content">
					<div class="row expanded">
						<div class="large-4 columns banner">
							<div class="main-banner">
								<h3>Chequeados</h3>
								<p>Te contamos lo que te interesa saber de las empresas que te están buscando.</p>
							</div>
						</div>
						{% verbatim %}
						<script id="articulo-template" type="text/x-handlebars-template">
							{{#each this}}
							<div class="row">
								<div class="articulo">
									<div class="large-10 columns end">
										<div class="row">
											<div class="small-10 columns">
												<a href="/chequeados/chequeado/{{ slug }}" title="{{title}}"><h2 class="title">{{ title }}</h2></a>
												<div class="description">{{{ intro_text }}}</div>
											</div>
											<div class="small-2 end columns">
												<!-- os.split() -->
												<img src="{{author.avatar}}" alt="{{author.title}}">
											</div>
										</div>
										<div class="row">
											<div class="large-4 small-5 columns">
												<p class="category">{{category.title}}</p>
											</div>
											<div class="large-3 small-3 columns end">
												<span class="likes"><i class="fa fa-heart-o"></i> {{likes}}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							{{/each}}
						</script>
						{% endverbatim %}
						<div class="large-8 columns posts-list">
							<div class="posts">
								<ul class="menu nav-posts">
									<li class="current" id="btn_all"><a href="javascript:void(0);" title="Todos los chequeados">Todos los chequeados</a></li>
									<li id="btn_categories"><a href="javascript:void(0);" title="Todos los chequeados">Categorías</a></li>
								</ul>
								<div class="posts-handle">
									{% for chequeado in articulos %}
									<div class="row">
										<div class="articulo">
											<div class="large-10 columns end">
												<div class="row">
													<div class="small-10 columns">
													<a href="/chequeados/chequeado/{{ chequeado.slug }}" title="{{ chequeado.title }}"><h2 class="title">{{ chequeado.title }}</h2></a>
														<div class="description">{{ chequeado.intro_text |safe }}</div>
													</div>
													<div class="small-2 end columns">
														<!-- os.split() -->
														<img src="/media/{{chequeado.author.avatar}}" alt="{{chequeado.author.title}}">
													</div>
												</div>
												<div class="row">
													<div class="large-4 small-5 columns">
														<p class="category">{{chequeado.category.title}}</p>
													</div>
													<div class="large-3 small-3 columns end">
														<span class="likes"><i class="fa fa-heart-o"></i> {{chequeado.likes}}</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
									<div class="load">
										<span class="animation"></span>
										<span class="texto">Cargando, espera un poco</span>
									</div>
								</div>
								<div class="categories-handle">
									<div class="row">
										<div class="large-10 columns end">
											<div class="row small-up-2 medium-up-3 c-list">
												{% for categoria in categorias %}
												<div class="categoria column">
													<div class="categoria-info">
														<a href="/chequeados/categoria/{{ categoria.slug }}" title="{{ categoria.title }}">
															<img src="/media/{{ categoria.main_img }}" alt="{{ categoria.title }}">
															<h3>{{ categoria.title }}</h3>
														</a>
													</div>
												</div>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
{% endblock %}